.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 25px 15px;

  .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    .info-user {
      grid-area: 1 / 1 / 7 / 3;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      .avatar {
        width: 300px;
        height: 300px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 15px;

        .img-avatar {
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }

      .information {
        width: 300px;

        .form-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .input-info {
            width: 100%;
            height: 30px;
            padding: 0 5px;
            border: 1px solid black;
            border-radius: 5px;
          }

          .btn-info {
            width: 100%;
            height: 30px;
            background-color: var(--black);
            color: var(--white);
            border-radius: 5px;
          }
        }
      }
    }

    .info-card {
      grid-area: 1 / 3 / 7 / 7;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      box-sizing: border-box;

      .visa {
        width: 500px;
        height: 300px;
        border: 1px solid black;
        border-radius: 15px;
        box-sizing: border-box;
        position: relative;
        font-size: 30px;

        .bank, .type-card, .id-card, .name-own, .value-thur{
            position: absolute;
        }

        .bank{
            top: 30px;
            left: 30px;
            font-weight: bold;
        }

        .type-card{
            top: 30px;
            right: 30px;
            font-weight: bold;
        }

        .id-card{
            top: 50%;
            width: 80%;
            transform: translate(0,-50%);
            left: 30px;
            display: flex;
            justify-content: space-between;
            
        }

        .name-own{
            bottom: 30px;
            left: 30px;
        }

        .value-thur{
            bottom: 30px;
            right: 30px;
            text-align: center;
            display: flex;
            align-items: center;

            .title-value-thur{
               font-weight: bold;
            }
        }

      }

      .form-info-card{
        width: 500px;
        
        .form-card{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(6,1fr);
            gap:10px;
            
        }

        .input-card{
            width: 100%;
            height: 30px;
            padding: 0 5px;
            border: 1px solid black;
            border-radius: 5px;
        }

        .btn-card{
            width: 100%;
            height: 30px;
            padding: 0 5px;
            background-color: var(--black);
            color: var(--white);
            border-radius: 5px;
        }
      }
    }
  }
}
