.wrapper {
  width: 100%;
  height: 100%;
  
}

.container {
  width: 100%;
  height: 100%;
  

  .content {
    width: 100%;
    height: 100%;
    

    .info-user {
      box-sizing: border-box;
      

      .info-username{
        padding-bottom: 10px;
        border-bottom: 1px solid var(--grey);
        
      }

      .profile{
        display: flex;
        padding-top: 20px;

        .profile-title{
          width: 30%;
        }

        .profile-detail{
          width: 70%;

          .profile-detail-information{
            position: relative;
          }

          .profile-detail-account{
            position: relative;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid var(--grey);
            font-size: 50px;
          }
        }
      }

      .address{
        display: flex;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid var(--grey);

        .address-title{
          width: 30%;
        }

        .address-detail{
          width: 70%;

          .address-detail-information{
            position: relative;
          }
        }
      }

      .profile-edit{
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 15px;
      }
      
    }
  }
}
