.wrapper {
  margin-top: 20px;
  position: relative;
}

.container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;


  .container-hero {
    width: 100%;
    overflow: hidden;
    height: 700px;

    img {
      display: block;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      object-fit: cover;
    }
  }
}
