.wrapper{
    --width-default:1460px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-default);
    border: 1px solid var(--black);
    border-radius: 20px;
    padding:20px;

    .title{
        font-family: var(--font-brand-logo),serif;
        font-size: 15px;
        font-weight:300;
    }

    .navbar{
        flex:1;
        .navbar-container{
            display: flex;
            justify-content: center;
            gap:10rem;
            font-family: var(--font-brand-heading);
        }
    }
}

.actions{
    .actions-item{
        display: flex;
        gap: 10px;
        font-size: 30px;
        width: 70px;
        height: 30px;
    }

    .Login-btn{
        background-color: var(--brown);
        padding:10px 20px;
        color: white;
        border-radius: 10px;
        font-weight: bold;
    }

    .Signup-btn{
        
        padding:10px 20px;
        color: black;
        border-radius: 10px;
        font-weight: bold;
    }
}


