.wrapper{
    display: flex;
    width: 100%;
    background-color: var(--black);
}

.container{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-default);
    padding:20px;
    color: var(--white);

    .title{
        font-family: var(--font-brand-logo),serif;
        font-size: 15px;
        font-weight:300;
    }

    .navbar{
        flex:1;
        .navbar-container{
            width: 100%;
            display: flex;
            justify-content: center;
            gap:10rem;
            font-family: var(--font-brand-heading);

            a{
                color:var(--white)
            }
            
        }
    }
}

.actions{
    .actions-item{
        display: flex;
        gap: 10px;
        font-size: 30px;
        width: 70px;
        height: 30px;

        .info,.icon-search{
            cursor: pointer;
        }

       
    }

    .Login-btn{
        background-color: var(--brown);
        padding:10px 20px;
        color: white;
        border-radius: 10px;
        font-weight: bold;
    }

    .Signup-btn{
        
        padding:10px 20px;
        color: black;
        border-radius: 10px;
        font-weight: bold;
    }
}


