.wrapper {
  width: var(--width-default);
  min-height: 100vh;
  margin-top: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;

  .router {
    margin-top: 100px;
    border-bottom: 1px solid var(--grey);
  }

  /*================================= INFO ==================================*/

  .info {
    margin-top: 50px;
    padding: 0px 120px;

    /*================================= INFO MAIN ==================================*/
    /*================================= INFO MAIN ==================================*/
    /*================================= INFO MAIN ==================================*/
    /*================================= INFO MAIN ==================================*/

    .info-main {
      height: 700px;
      display: flex;

      /*================================= IMAGE  ==================================*/

      .info-main--img {
        width: 800px;
        height: 100%;
        display: flex;
        gap: 10px;

        .img-slides {
          width: 200px;
          height: 100%;
          overflow: hidden;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          gap: 5px;
          scrollbar-width: none;
          padding-right: 10px;
          border-right: 1px solid var(--grey);

          .img-slides-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 90%;
              height: 230px;
              border-radius: 10px;
            }
          }
        }

        .img-center {
          flex: 1;

          .img-center--item {
            width: 90%;
            height: 100%;

            img {
              width: 90%;
              height: 700px;
              border-radius: 10px;
            }
          }
        }
      }

      /*================================= ACTIONS ==================================*/

      .info-main--actions {
        flex: 1;
        position: relative;

        .info-title {
          font-family: var(--font-brand-heading);
          font-size: 30px;
          margin-top: 10px;
        }

        .options-size,
        .options-color {
          margin-top: 20px;
          display: flex;
          gap: 5px;

          .size-btn,
          .color-btn {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: 1px solid black;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              transform: scale(0.7);
            }
          }
        }

        .prices {
          display: flex;
          gap: 10px;
          font-weight: bold;
          margin-top: 30px;

          .priceOld {
            text-decoration: line-through;
          }
        }

        .info-des {
          margin-top: 20px;
          width: 100%;
          text-align: justify;
          font-size: 15px;
        }

        .options-type {
          margin-top: 50px;
          border-top: 1px solid var(--grey);
          display: flex;
          gap: 10px;
        }

        .quantity-product {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 50px;
        }

        .amount-product {
          width: 200px;
          height: 50px;
          display: flex;
          justify-content: space-around;
          gap: 5px;
          border: 1px solid rgb(206, 206, 206);
          padding: 10px;

          button,
          div {
            text-align: center;
            font-weight: bold;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .add-to-cart {
          width: 100%;
          height: 50px;
          padding: 10px;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            background-color: var(--black);
            color: var(--white);
          }

          .icon-cart {
            width: 30px;
            height: 30px;
          }

          p {
            margin-left: 10px;
          }
        }

        .action-like {
          margin-top: 20px;
        }

        .rank {
          margin-top: 20px;
          display: flex;
        }

        .star {
          width: 20px;
          height: 20px;
        }
      }
    }

    /*============================== OVERVIEW ==============================*/
    /*============================== OVERVIEW ==============================*/
    /*============================== OVERVIEW ==============================*/
    /*============================== OVERVIEW ==============================*/

    .info-overview {
      border-top: 1px solid var(--grey);
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .info-overview--title {
        width: 300px;
        border-right: 1px solid var(--grey);
        text-align: center;

        h2 {
          margin-top: 30px;
          font-size: 40px;
          color: var(--black);
        }
      }

      .info-overview--detail {
        flex: 1;
        margin-top: 100px;
        height: 245px;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp:9;
        -webkit-box-orient:vertical;
        overflow: hidden;
        border-top: 1px solid var(--grey);
        padding-top: 20px;

        p{
          height: 100%;
        }
      }

      .highlights {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 20px;
        h3{
          
        }

        .info-more--detail {
          width: 100%;
          

          .table-info-detail {
            width: 100%;
            border-collapse: collapse;
            display: flex;
          }

          .table-info-detail th,
          .table-info-detail td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            font-size: 15px;
          }

          .table-info-detail tr {
            display: flex;
            flex-direction: column;
            width: 100%;
          }

          .table-info-detail th {
            color: #333;
          }
        }

        .info-more--size {
          width: 100%;
          margin-top: 10px;
          .table-guide-size {
            width: 100%;
            border-collapse: collapse;
            background-color: var(--sand-light);
          }

          .table-guide-size th,
          .table-guide-size td {
            border: 1px solid var(--black);
            padding: 8px;
            text-align: left;
            font-size: 15px;
          }

          .table-guide-size th {
            color: #333;
          }
        }
      }
    }

    /*=========================== PRODUCT GUIDE ============================*/
    /*=========================== PRODUCT GUIDE ============================*/
    /*=========================== PRODUCT GUIDE ============================*/
    /*=========================== PRODUCT GUIDE ============================*/


  }
}
