.wrapper {
  
  min-height: 100vh;
  margin-top: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;

  .router {
    margin-top: 100px;
    border-bottom: 1px solid var(--grey);
    display: flex;
    gap: 10px;
    font-weight: lighter;

    .router-current{
      font-weight: 400;
    }
  }

  /*================================= INFO ==================================*/

  .info {
    margin-top: 50px;
    padding: 0px 120px;

    /*================================= INFO MAIN ==================================*/
    /*================================= INFO MAIN ==================================*/
    /*================================= INFO MAIN ==================================*/
    /*================================= INFO MAIN ==================================*/

    .info-main {
      height: 700px;
      display: flex;

      /*================================= IMAGE  ==================================*/

      .info-main--img {
        width: 800px;
        height: 100%;
        display: flex;
        gap: 10px;

        .img-slides {
          width: 200px;
          height: 100%;
          overflow: hidden;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          gap: 5px;
          scrollbar-width: none;
          padding-right: 10px;
          border-right: 1px solid var(--grey);

          .img-slides-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 90%;
              height: 230px;
              
            }
          }
        }

        .img-center {
          flex: 1;

          .img-center--item {
            width: 90%;
            height: 100%;

            img {
              width: 90%;
              height: 700px;
              
            }
          }
        }
      }

      /*================================= ACTIONS ==================================*/

      .info-main--actions {
        flex: 1;
        position: relative;

        .info-title {
          font-family: var(--font-brand-heading);
          font-size: 30px;
          margin-top: 10px;
        }

        .options-size,
        .options-color {
          margin-top: 20px;
          display: flex;
          gap: 5px;

          .size-btn,
          .color-btn {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: 1px solid black;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              transform: scale(0.7);
            }
          }
        }

        .prices {
          display: flex;
          gap: 10px;
          font-weight: bold;
          margin-top: 30px;

          .priceOld {
            text-decoration: line-through;
          }
        }

        .info-des {
          margin-top: 20px;
          width: 100%;
          text-align: justify;
          font-size: 15px;
        }

        .options-type {
          margin-top: 50px;
          border-top: 1px solid var(--grey);
          display: flex;
          gap: 10px;
        }

        .quantity-product {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 50px;
        }

        .amount-product {
          width: 200px;
          height: 50px;
          display: flex;
          justify-content: space-around;
          gap: 5px;
          border: 1px solid rgb(206, 206, 206);
          padding: 10px;

          button,
          div {
            text-align: center;
            font-weight: bold;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .add-to-cart {
          width: 100%;
          height: 50px;
          padding: 10px;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            background-color: var(--black);
            color: var(--white);
          }

          .icon-cart {
            width: 30px;
            height: 30px;
          }

          p {
            margin-left: 10px;
          }
        }

        .action-like {
          margin-top: 20px;
        }

        .rank {
          margin-top: 20px;
        }

        .star {
          width: 20px;
          height: 20px;
        }
      }
    }

    /*============================== OVERVIEW ==============================*/
    /*============================== OVERVIEW ==============================*/
    /*============================== OVERVIEW ==============================*/
    /*============================== OVERVIEW ==============================*/

    .info-overview {
      border-top: 1px solid var(--grey);
      margin-top: 20px;
      display: flex;
      gap: 40px;

      .info-overview--title {
        width: 300px;
        border-right: 1px solid var(--grey);
        text-align: center;

        h2 {
          margin-top: 30px;
          font-size: 30px;
          color: var(--black);
          font-weight: 500;
        }
      }

      .info-overview--detail {
        flex: 1;
        margin-top: 100px;
        
        border-top: 1px solid var(--grey);
        padding-top: 20px;

        h3 {
          font-weight: 500;
        }

        p {
          height: 100%;
        }
      }

      .highlights {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 20px;
        h3 {
          font-weight: 500;
        }

        .info-more--detail {
          width: 100%;
        }

        .info-more--size {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }

    /*=========================== PRODUCT GUIDE ============================*/
    /*=========================== PRODUCT GUIDE ============================*/
    /*=========================== PRODUCT GUIDE ============================*/
    /*=========================== PRODUCT GUIDE ============================*/

    .product-guide {
      width: 100%;
      border-top: 1px solid var(--grey);
      position: relative;
      overflow: hidden;

      .product-guide--title {
        width: 300px;
        text-align: center;

        h2 {
          margin-top: 30px;
          font-size: 30px;
          color: var(--black);
          font-weight: 500;
        }
      }

      .product-guide--slides {
        display: flex;
        height: 100%;
        margin-top: 50px;
        position: relative;
        overflow: hidden;

        .slide {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 0 0 auto;
          width: 100%;
          height: 400px;
          transition: transform 0.5s ease;
          position: relative;
          will-change: transform;
          transform: translateX(0);

          .block {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 80%;
              height: 80%;
            }

            button {
              width: 80%;
              height: 100%;
              border: 1px solid var(--grey);
              margin-top: 10px;
              font-size: 20px;
            }
          }
        }
      }

      .prev {
        position: absolute;
        top: 50%;
        transform: translate(0, -150%);
        left: 0px;
      }

      .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -150%);
        right: 0px;
      }

      .prev,
      .next {
        font-size: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
