.wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .router {
      padding: 20px 0;
      border-bottom: 0.5px solid var(--grey);
      display: flex;
      gap: 10px;
      font-weight: lighter;

      .router-current {
        font-weight: 400;
      }
    }

    .main {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &::after {
        content: "";
        height: 100%;
        width: 0.5px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--grey);
      }
    }

    .form-login {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      height: 100%;

      .form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 20px;
        width: 400px;

        .heading {
          display: flex;
          flex-direction: column;

          h2 {
            font-weight: 900;
            font-size: 20px;
            text-align: left;
            color: var(--black);
          }
        }

        p {
          font-size: 17px;
          text-align: left;
          color: var(--black);

          a {
            text-decoration: underline;
            color: var(--black);
          }
        }

        .form-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        .input-form {
          padding: 10px 0;
          width: 100%;
          border-bottom: 1px solid var(--black);
          box-sizing: border-box;
          background-color: transparent;
          color: var(--black);

          &:focus {
            background-color: rgba(255, 255, 255, 0.103);
          }
        }
      }

      .submit-btn {
        width: 100%;
        font-weight: 800;
        color: var(--black);
        padding: 20px 0;
        border: 1px solid var(--black);
        transition: 0.5s;

        &:hover{
          background-color: var(--black);
          color: var(--white);
        }
      }

      .signup {
        font-size: 13px;
        text-align: center;
        color: var(--black);

        .link-signup {
          text-decoration: underline;
          color: var(--black);
        }
      }

      .AuthO {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 30px;
        color: var(--black);
      }
    }

    .create-account {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      height: 100%;
      

      

      .voucher {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 20px;
        width: 400px;

        .heading {
          display: flex;
          flex-direction: column;

          h2 {
            font-weight: 900;
            font-size: 20px;
            text-align: left;
            color: var(--black);
          }
        }

        p {
          font-size: 17px;
          text-align: left;
          color: var(--black);
        }
      }

      img {
        width: 100%;
        height: 400px;
      } 

      .signup-btn{
        width: 100%;
        font-weight: 900;
        color: var(--black);
        padding: 20px 0;
        border: 1px solid var(--black);
        transition: 0.5s;

        &:hover{
          background-color: var(--black);
          color: var(--white);
        }
      }

    }
  }
}
