.wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .router {
      width: 95%;
      padding: 20px 0;
      display: flex;
      gap: 10px;
      font-weight: 300;
      font-size: 13px;

      .router-current {
        font-weight: 500;
      }
    }

    .main {
      width: 100%;
      position: relative;
      

    }

    .form-login {
      display: flex;
      justify-content: center;
      padding-top: 45px;
      height: 100%;

      .form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 400px;

        .heading {
          width: 100%;
          margin-bottom: 30px;

          h2 {
            font-weight: 900;
            font-size: 30px;
            text-align: center;
            color: var(--black);
          }
        }

        p {
          font-size: 13px;
          text-align: left;
          color: var(--black);

          a {
            text-decoration: underline;
            color: var(--black);
          }
        }

        .form-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        .input-form {
          padding: 25px 10px;
          width: 100%;
          border-bottom: 1px solid var(--black);
          box-sizing: border-box;
          background-color: transparent;
          color: var(--black);

          &:focus {
            background-color: rgba(255, 255, 255, 0.103);
          }
        }

        p{
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
        }
      }

      .submit-btn {
        width: 100%;
        font-weight: 700;
        color: var(--white);
        padding: 20px 0;
        transition: 0.5s;
        margin-top: 20px;
        background-color: var(--black);

        
      }

      .signup {
        font-size: 13px;
        text-align: center;
        color: var(--black);

        .link-signup {
          text-decoration: underline;
          color: var(--black);
        }
      }

      .AuthO {
        width: 100%;
        font-weight: 700;
        
        padding: 10px 0;
        border: 1px solid var(--black);
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 5px;
        margin-top: 10px;

        p{
          color: var(--black);
        }
      }
    }

    .create-account {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      height: 100%;
    
      .voucher {
        display: flex;
        flex-direction: column;
        
        margin-top: 20px;
        width: 400px;

        .heading {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          h2 {
            font-weight: 700;
            font-size: 15px;
            text-align: left;
            color: var(--black);
          }
        }

        p {
          font-size: 13px;
          text-align: left;
          color: var(--black);
        }
      }

      img {
        width: 100%;
        height: auto;
        
        
      } 

      .signup-btn{
        width: 100%;
        font-weight: 700;
        color: var(--black);
        padding: 20px 0;
        border: 1px solid var(--black);
        transition: 0.5s;
       

        &:hover{
          background-color: var(--black);
          color: var(--white);
        }
      }

    }
  }
}
