@import url('https://fonts.googleapis.com/css2?family=Playwrite+ZA:wght@100..400&display=swap');

@font-face{
    font-family: 'StretchPro';
    src: url("../../assets/Font/StretchPro.otf");
  }

:root{
    --sand-light:#E1DAD0;
    --begie:#b3a072;
    --brown:#605948;
    --dark-brown:#301E1E;
    --antiquewhite:#faebd7;
    --black:#2c2c2c;
    --white:#fff;
    --text-color:rgb(22,24,35);
    --font-brand-logo:"Playwrite ZA";
    --font-brand-heading:"StretchPro";
    --width-default:1460px;
    --fail-color:#f21b3f;
    --success-color:#29bf12;
    --grey:#b1a7a6;
    --blue:#00b4d8;
    --yellow:#fca311;
    --dark-blue:#023047;
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", serif;
    font-size: 1.6rem;
    
    line-height: 1.5;
    color: var(--text-color);
}

button, input, [tabindex]{
    outline: none;
    border: none;
}

button{
    background-color: transparent;
    cursor: pointer;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}

h1,h2,h3,h4,p{
    margin: 0;
}

.awssld {

    --slider-height-percentage: 50%;
    --slider-transition-duration: 500ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: var(--white);
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: var(--black);
    --control-bullet-active-color: var(--begie);
    --loader-bar-color: var(--white);
    --loader-bar-height: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    }

